node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# ignore local builds for project
/digital-art-dealers-react-native-component-lib-v**

# ignore yarn error log
yarn-error.log